header nav{
    position:fixed !important;
    background-color: #B9E90F !important;
    overflow: hidden !important;
    text-decoration:null !important;
    width: 100% !important;
    margin: auto !important;
    height: 70px !important;  
    z-index: 3 !important;

}


.reg{
    font-family: 'Bedrock';
    color: #545454;
}

.form-group{
    display:block;
    position:relative;
    margin:auto auto;

}

.form_text{
    position:relative;
    margin:auto;

}

.input_form{
    position:relative;
    top:20px;
    margin:auto;
}

.navbar-brand{
    font-family: 'Bedrock';
    font-size: 1cm;
    color: white;
    text-decoration:none;
    position: relative;
}

.btn{
    float: right;
    text-align: center;
    font-family: 'Bedrock';
    font-size: 0.6cm ;
    color: white;
    text-decoration:none;
    position: relative;
    top: 12px;
    //bottom: 40px; 
    right:60px;
    width:100px;
    display:inline-block;
color:#FFFFFF;
padding:10px 10px;
line-height:normal;
-webkit-transition:all 500ms ease;
-o-transition:all 500ms ease;
transition:all 500ms ease;
}

.btn:hover{
    background:#97BD10;
border-radius:30px;
}

.imagen{
    width:50;
    length=50;
    position: relative;
    top: 12px; 
    left: 30px;
}

.Texto{
    font-family: 'Bedrock' !important;
    font-size: 1cm !important;
    color: white !important;
    text-decoration:none !important;
    position: relative !important;
    top: 0px !important; 
    left: 40px !important;
}

html, body {
margin: 0 !important;
    padding:0;
height: 100% !important;
width: 100% !important;
min-height: 100% !important;
min-width: 100% !important;
    overflow-x:hidden !important;
    background-color:#FFFFFF !important;
    
}


footer {
    position:relative !important;
width: 100% !important;
    height: 4em !important;
    bottom:0 !important;
display: flex !important;
align-items: center !important;
justify-content: center !important;
    background-color: #000000 !important;
font-family: 'Bedrock' !important;
font-size: 1.1em !important;
z-index: 1 !important;
    padding:0;
    margin:0;
}

.dayanna{
    float:center;
    position: relative;
    width:30%;
    color:white;
    font-family: 'Bedrock';
font-size: 1.1em;
    text-align:right !important;
justify-content: center;
}

.estefania{
    float:center;
    width:30%;
    position: relative;
    color:white;
    font-family: 'Bedrock';
font-size: 1.1em;
    text-align:center !important;
justify-content: center;
}

.yenny{
    float:center;
    width:30%;
    position: relative;
    color:white;
    font-family: 'Bedrock';
font-size: 1.1em;
    text-align:left !important;
justify-content: center;
}


h1 {
font-family: 'Bedrock';
font-size: 4em;
padding:  0em 0.2em;
}


.alert {
left: 0;
right: 0;
margin: auto; // Centers alert component
position: absolute !important; // So that it will display relative to the entire page
align-items:center;
font-family: 'Bedrock';
text-align: center; // Centers 'Alert Test' text
top: 0px;
border-radius: 2px;
width: 47%;
padding:1rem .9rem;
z-index: 1; // Displays over app and bootstrap Navbar
}


.alert1 {
left: 0;
right: 0;
margin: auto; // Centers alert component
position: absolute !important; // So that it will display relative to the entire page
align-items:center;
font-family: 'Bedrock';
text-align: center; // Centers 'Alert Test' text
top: 0px;
border-radius: 2px;
width: 47%;
padding:1rem .9rem;
z-index: 1; // Displays over app and bootstrap Navbar
} 

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #3c763d;
}

.alert-danger {
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
}

.close {
float: right;
font-size: 1.5rem;
font-weight: 700;
line-height: 1;
color: #000 !important;
text-shadow: 0 1px 0 #fff;
opacity: .5;
text-decoration:none;
}

.form-control{
    display:block;
    width:400px;
    height:50px;
    padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
    font-family: 'Bedrock' !important;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-group{
    margin-bottom:1rem;
}

label{
    display:block;
    margin-bottom: 10px !important;  
}


.alert1 a{
text-decoration: none;
color: #34A921;

}

.alert a{
text-decoration: null;
color: #34A921;

}


#vertical {
display: flex;

align-items: center;	
}

.boton{
    font-family: 'Bedrock';
    padding: 10px;
    color: white;
    background: #62CF7B;
    width: 100px;   /ancho del cuadrito/    
    margin:20px auto;
    margin-top:20px;
    border-radius: 8px;
    border:2px solid #44A65C;
    cursor: pointer;
    position: relative;
    left:300px;

}

.boton:active{
    background-color: #46AD60;
}

/Del carrusel/

* {
    //box-sizing: border-box;
    margin:auto;
    width:100%;
    align-vertical:top;
    z-index: 1;
}

.mySlides {
    position:relative;
    align-vertical:top;
    margin:auto;
    width:100%;
    z-index: 1;
}


.car_img{
    position:relative;
    margin:auto;
    width:100% ;
    vertical-align: top;
    height: 500px;
    z-index: 1;
}

/* Slideshow container */

.slideshow-container {
    //position:relative;
    max-width: 100%;
    height: 500px;
    //position: relative;
    margin: auto;
    z-index: 1 ;
}

/* Caption text */
.text {
color: #FFFFFF;
font-size: 15px;
padding: 8px 12px;
position: relative;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Caption text */
.text_car {
color: #FFFFFF ;
font-size: 40px;
padding: 8px 12px ;
position: relative;
top:-150px;
left:250px;
font-style:bold;
width: 100%;
text-align: center;
z-index:1;
}

.subtext_car {
color: #FFFFFF;
font-size: 20px;
font-style: italic;
padding: 8px 12px;
position: relative;
top: -160px;
left:250px;
width: 100%;
text-align: center;
font-style:bold;
z-index:1;
}


/* Fading animation */
.fade {
-webkit-animation-name: fade !important;
-webkit-animation-duration: 1.5s !important;
animation-name: fade !important;
animation-duration: 1.5s !important;
}

@-webkit-keyframes fade {
from {opacity: .7} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}

}



/De la información/

.caja-texto{
    //border-radius:30px;
    position:relative;
    left:90px;
    width:450px;
    margin:10px 50px;
    text-align: justify;
    font-size:20px;
    background-color:#FFFFFF;
    color:#3A6D38;
}

.c_t{
    //border-style: solid;
    //border-color:#4C8643;
    //border-radius:30px;
    padding:20px 40px;
    position:relative;
    text-align: justify;
    font-size:20px;
    //background-color:#C5F0BF;
    background-color:#FFFFFF;
    color:#3A6D38;
}

.prototipo{
    border-style: solid;
    border-color:#4C8643;
    border-radius:30px;
    width:520px;
    height:487px;
    right:120px;
    position:relative;
    bottom:505px;
    float:right;
}

.caja-texto-2{
    float:right;
    border-radius:30px;
    position:relative;
    right:-380px;
    width:450px;
    margin:10px 50px;
    text-align: justify;
    font-size:20px;
    background-color:#FFFFFF;
    color:#3A6D38;
}

.c_t_2{
    border-style: solid;
    border-color:#4C8643;
    border-radius:30px;
    padding:20px 40px;
    position:relative;
    text-align: justify;
    font-size:20px;
    background-color:#FFFFFF;
    color:#3A6D38;
}

.usuarios_img{
    float:right;
    border-style: solid;
    border-color:#4C8643;
    border-radius:30px;
    width:520px;
    height:487px;
    left:0px;
    position:relative;
    bottom:0px;
    float:right;
}


/*De los iconos*/

.split {
height: 300px;
width: 25%;
position:relative;
top: -300px;
left:0px;
overflow-x: hidden;
padding-top: 0px;
float:right;
overflow:hidden;
}

.left {
left: 0px;
}

.right {
right: 0px;
}

.left1 {
left: 0px;
}

.right1 {
right: 0px;
}

.centered {
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: justify;
}

.centered img {
width: 150px;
border-radius: 10%;
position:relative;
left:50px;
}

ul.a {
list-style-type: circle;
align:justify;
position:relative;
top:-20px;
}

.titulo_servicios{
    font-family: 'Lobster', cursive !important;
    position:relative;
    top:-320px;
font-size: 3.5em;
    text-align:center;
    padding-top:1em;
    float:center;
}

.titulo_servicios_que{
    font-family: 'Lobster', cursive !important;
color:black;
    font-size: 3.5em;
padding:  0.1em 0.2em;
    text-align:center;

}

.titulo_servicios_que_pu{
    font-family: 'Lobster', cursive !important;
    color:black;
font-size: 3.5em;
padding:  0.1em 0.2em;
    position:relative;
    top:-150px;
    left:100px;
    text-align:center;
}

.titulo_sec{
    font-family: 'Bedrock'!important;
    font-size: 1.5em;
    padding: 15px 0px;
    text-align:justify;
    position:relative;
    left:30px;
}

.texto_servicios{
    font-family: 'Bedrock' !important;  
}

.bg-image{
/* Full height */
position:relative;
top:60px;
left:200px;
/* Center and scale the image nicely */
background-position: center;
//background-repeat: no-repeat;
background-size: cover;
float:center;
}

.img1{
    //background-image:url("fondo_descripcion.jpg");
    //width:100%;
}

/* Position text in the middle of the page/image */
.bg-text {
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
color: white;
font-size: 20px;
border: 10px solid #f1f1f1;
position: relative;
top: 120px;
left: 1000px;
transform: translate(-50%, -50%);
z-index: 2;
width: 400px;
padding: 20px;
text-align: justify;
}

.bg-text-1 {
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
color: white;
font-size: 20px;
border: 10px solid #f1f1f1;
position: relative;
top: -76px;
left: 400px;
transform: translate(-50%, -50%);
z-index: 2;
width: 400px;
padding: 20px;
text-align: justify;
}

.bg-text-2 {
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
color: white;
font-size: 20px;
border: 10px solid #F1F1F1;
position: relative;
top: -60px;
left: 700px;
transform: translate(-50%, -50%);
z-index: 2;
width: 800px;
padding: 20px;
text-align: justify;
}


.bloque{
    position:relative;
    left:260px;
    top:-370px;
    width:550px;
    height:320px;
    margin:auto;
    text-align: justify;
    //font-family: 'Josefin Sans';
    font-family: 'Bedrock';
    font-size:21px;
    background-color:#FFFFFF;
    color:#505050;
}

/*Del carrusel de descripción*/

/* Slideshow container */
.slideshow-modelo {
width:33%;
position: relative;
right:300px;
top:0px;
margin: auto;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.punto {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
position:relative;
top:0px;
bottom:100px;
right:300px;
transition: background-color 0.6s ease;
}

.carrusel_modelo_img{
    width:445px;
    height:400px;
    position:relative;
    float:center;
}

.active, .punto:hover {
background-color: #717171;
}

/* Fading animation */
.fade_modelo {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade_modelo;
animation-duration: 1.5s;
}

@-webkit-keyframes fade_modelo {
from {opacity: 1} 
to {opacity: 1}
}

@keyframes fade_modelo {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}

.bloque_usuarios{
    position:relative;
    left:0;
    top:-300px;
    width:100%;
    height:500px;
    margin:auto;
    background-color:#E5F8A0;
}

.bloque_usuarios_img{
    position:relative;
    left:0;
    top:50px;
    left:265px;
    width:550px;
    height:80%;
    margin:auto;
    background-color:#FFFFFF;
}

.bloque_usuarios_texto{
    position:relative;
    top:-350px;
    left:-300px;
    width:450px;
    height:80%;
    margin:auto;
}

.texto_users{
    font-family:'Bedrock';
    font-size:21px;
    text-align:justify;
    color:#505050;
}

.bloque_usuarios_img_img{
    /*width:550px;*/
    height:100%;
}

/*About us*/


*, *:before, *:after {
box-sizing: inherit;
}

.row_about{
    position:relative;
    margin:auto;
}

.column_aboutus {
float: left;
width: 33.3%;
margin-bottom: 0px;
padding: 0px -5px;

}

.row_about{
    height:100%;

}

.card_aboutus {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin:15px;
background-color: black;
position:relative;
top:-300;
}

.aboutus:hover .overlay_aboutus {
height: 100%;

}

/*Posicion del texto de descripcion*/
.container_aboutus {
padding: 0 16px;
color: white;
}

.container_aboutus::after, .row_about::after {
content: "";
clear: both;
display: table;
}

.text_aboutus {
white-space: nowrap; 
color: white;
font-size: 16px;
position: absolute;
overflow: hidden;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}

.overlay_aboutus {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: #000000;
overflow: hidden;
width: 100%;
height: 0;
transition: .5s ease;
}

.image_aboutus {
display: absolute;
width: 100%;
height: 70%;
}

.aboutus {
position: relative;
width: 100%;

}

.titulo_servicios_users{
    position:relative;
    top:-10px;
    font-family: 'Lobster', cursive !important;
color:black;
    font-size: 3.5em;
padding:  0.1em 0.2em;
    text-align:center;
}

.titulo_servicios_equipo{
    font-family: 'Lobster', cursive !important;
    position:relative;
    top:-300px;
font-size: 3.5em;
    text-align:center;
    padding-top:1em;
    float:center;
}


